@model WebApplication6.Models.Samsung

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Samsung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Galaxy1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galaxy1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Galaxy2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galaxy2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Galaxy3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galaxy3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.phones }) |
    @Html.ActionLink("Back to List", "Index")
</p>
