@model WebApplication6.Models.Apple

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Apple</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Iphone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iphone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iphone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iphone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iphone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iphone3)
        </dd>

    </dl>
</div>

