@model IEnumerable<WebApplication6.Models.Apple>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Iphone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iphone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iphone3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Iphone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iphone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iphone3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.phones }) |
            @Html.ActionLink("Details", "Details", new { id=item.phones }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.phones })
        </td>
    </tr>
}

</table>
